#preview {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #607d8b;
    padding: 1rem;
}

#paper {
    width: 448px;
    height: 640px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 2px 10px 2px rgb(0 0 0 / 31%);
    padding: 10px;
    overflow-y: scroll;
}
#paper p {
    margin: 0;
}

#paper::-webkit-scrollbar {
  width: 3px;
}

/* Track */
#paper::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
 
/* Handle */
#paper::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177); 
}

/* Handle on hover */
#paper::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
.avatar-preview {
    width: 90px;
    height: 90px;
    border-radius: 4px;
}
.inline {
    display: flex;
    align-items: center;
    width: 100%;
}
.inline p {
    flex: 1;
}
.formation {
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 3px;
    border-bottom: 1px solid #ccc;
}
.formation p {
    margin: 0;
}
.left {
    text-align: center;
    flex: 1;
    font-size: 12px;
}
.right {
    flex: 2.5;
}
.experience {
    margin-bottom: 3px;
    border-bottom: 1px solid #ccc;
}
.experience p, .experience h3 {
    margin: 0;
    text-align: justify;
}