#navbar {
    box-shadow: 0 2px 8px #f0f1f2;
    background: #fff;
    max-width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2rem;
}
#logo h1 {
    margin: 0;
}
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-link {
    color: black;
    display: block;
    padding: 14px 10px;
    margin: 0 5px;
    font-size: 15px;
}
.nav-link.active {
    border-bottom: 3px solid #4b90ff;
}